Repository byulhook/devchat, pull requests merged in 2024-09, with the labels that each got.

#4 [feat] 사이드바와 레이아웃 컴포넌트 생성, 라우팅 설정함.
  index.html
  package.json
  pnpm-lock.yaml
  public/vite.svg
  src/App.css
  src/App.tsx
  src/components/Layouts/ContainerLayout.tsx
  src/components/Layouts/NavItem.tsx
  src/components/Layouts/RootLayout.tsx
  src/components/Layouts/Sidebar.tsx
  src/index.css
  src/main.tsx
  src/pages/Friends.tsx
  src/pages/Home.tsx
  src/pages/Messages.tsx
  src/pages/NewChat.tsx
  src/pages/NotFoundPage.tsx
  src/pages/Profile.tsx
  src/pages/Settings.tsx
  src/pages/Siginin.tsx
  src/routes/path.ts
  src/styles/GlobalStyles.tsx
  src/styles/theme.ts
Labels: feat

#6 [setting] PR 오토 라벨링, PR 오토 담당자 설정함
  .github/auto_assign.yml
  .github/labeler.yml
  .github/workflows/pr-auto_assign.yaml
  .github/workflows/pr-labeler.yml
Labels: setting

#10 fix: pr-auto_assign.yaml 권한 설정 추가 (#5)
  .github/auto_assign.yml
  .github/labeler.yml
  .github/workflows/pr-auto_assign.yaml
  .github/workflows/pr-labeler.yml
Labels: chore

#14 [settings] github action을 이용해 자동으로 이슈 담당자를 설정하게함
  .github/workflows/issue-auto_assign.yml
Labels: setting

#12 [Setting] github acton으로 CI/CD 세팅 및 배포 링크 pr 코맨트 기능 세팅
  .firebaserc
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
  package.json
  pnpm-lock.yaml
  src/api/firebaseApp.ts
  src/vite-env.d.ts
Labels: setting

#15 [feat] 메세지 인풋 퍼블리싱
  package.json
  pnpm-lock.yaml
  public/1.jpeg
  src/assets/logo.png
  src/assets/react.svg
  src/components/Badge.tsx
  src/components/ChatList.tsx
  src/components/ChatPreview.tsx
  src/components/ChatRoom.tsx
  src/components/Layouts/Sidebar.tsx
  src/components/MessageInput.tsx
  src/components/ProfileImage.tsx
  src/components/TimeAgo.tsx
  src/pages/Messages.tsx
Labels: feat

#16 [feat] 메세지 인풋 컴포넌트에 이모지 기능을 추가했습니다.
  package.json
  pnpm-lock.yaml
  src/components/Layouts/NavItem.tsx
  src/components/MessageInput.tsx
Labels: feat
